:root {
  /* color-scheme: dark; */
  --font-family: 'Ubuntu Condensed', sans-serif;
  --color-title: #000;
  --color-title-dark: #f9f8f8;
  --color-primary: #0a58d0;
  --color-primary-dark: #0a58d0;
  --color-secondary: #747775;
  --color-secondary-dark: #747775;
  --color-tertiary: #f0f4f9;
  --color-tertiary-dark: #000;
  --color-background: #fff;
  --color-background-dark: #363535;
  --color-footer: #808080;
  --color-footer-text: #fff;
  --color-success: #35b25f;
  --color-danger: #d44040;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body.dark {
  color: var(--color-title-dark);
  background-color: var(--color-background-dark);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
